<div class="create-container">

    <form>
  <div class="create-content">
    
    <h3>Create new account</h3>
      <div class="ui-inputgroup" style="margin-top:10px;width:80%;">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input style="width:100%;" type="text" pInputText placeholder="Username">         
      </div>
      <div class="ui-inputgroup" style="margin-top:10px;width:80%;">
          <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
          <input style="width:100%;" type="password" pInputText placeholder="Very long password">         
      </div>
      
      <button pButton type="submit" style="height:30px;width:100px;margin-top:15px;padding-top:3px;" class="ui-button-raised ui-button-rounded">CREATE</button>
    
  </div>
</form>
</div>
