<div class="layout-menu-wrapper">

  <p-scrollPanel [style]="{width: '300px', height: '100vh'}">
    <ul id="menuform:j_idt31" class="layout-menu">
      <li id="menuform:pm_dashboard" role="menuitem" class="active-menuitem">
        <a routerLink="/wallet/dashboard" routerLinkActive="active-menuitem"><i class="fa fa-home fa-fw"></i><span>Dashboard</span></a>
       
      </li>
      <li id="menuform:pm_dashboard" role="menuitem" class="active-menuitem">
        <a routerLink="/wallet/transfert" routerLinkActive="active-menuitem"><i class="fa fa-home fa-fw"></i><span>Send</span></a>
       
      </li>
      <li id="menuform:pm_dashboard" role="menuitem" class="active-menuitem">
        <a routerLink="/wallet/transfert" routerLinkActive="active-menuitem"><i class="fa fa-home fa-fw"></i><span>Receive</span></a>
       
      </li>
      <li id="menuform:pm_dashboard" role="menuitem" class="active-menuitem">
        <a routerLink="/wallet/transfert" routerLinkActive="active-menuitem"><i class="fa fa-home fa-fw"></i><span>Exchange</span></a>
       
      </li>
    </ul>
  </p-scrollPanel>
</div>

